<div ng-include src="'partials/nav.html'"></div>
<div ng-include src="'partials/header.html'"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Bid</div>

                <div class="row">

                  <form ng-submit="vm.createBid()" role="form" class="form-inline">
                    <div class="col-md-10 col-md-offset-1">

                            <fieldset>
                                <legend>Create new Request</legend>
                                <div class="form-group">
                                    <input type="number" class="form-control" ng-model="vm.bid.score" placeholder="Score of bid..." required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" ng-model="vm.bid.amount" placeholder="Amount ..." required>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Create"/>
                            </fieldset>

                    </div>
                  </form>
                </div>

                <div class="container">
                  <h2>Data Source</h2>
                  <p>Data source you wish to enable to create the profile</p>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" ng-model="vm.dataSources.isFinancialOn">Financial data</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" ng-model="vm.dataSources.isSocialOn">Social data</label>
                    </div>
                    <div class="checkbox disabled">
                      <label><input type="checkbox" value="" ng-model="vm.dataSources.isHealthOn" disabled>Health data</label>
                    </div>
                </div>
                <br>
                <br>



            </div>
        </div>

    </div>
</div>
